<!DOCTYPE html>
<html>
<head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/personal2">SleepData: Personal</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li> <a href="/personal2">Personal</a> </li>
          <li> <a href="/tasks2">Home Tasks</a> </li>
          <li> <a href="/community2">Community</a></li>
          <li> <a href="/case2">Case Studies</a></li>
          <li><a href="/profile2"> Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
          <li><a href="/login2"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/jquery.canvasjs.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/personal.js"></script>


  <title>Personal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer",
  {

    title:{
      text: "Sleep Quality"
    },
    axisX: {
      title: "Time",
      interval: 10
    },
    axisY: {
      title: "Quality",
      interval: 25
    },
    data: [
    {
      type: "area",
      dataPoints: [
      {{#each personaldata}}
      { x: new Date( {{year}}, {{month}}, {{day}} ), y: {{y}} },
      {{/each}}
      ]
    }
    ]

  });
  chart.render();
}
</script>
<body>
	<div class="container">
    <h2>Personal Data</h2>
    <div id="chartContainer" style="height: 400px; width: 100%;">
    </div>

    <h2>Alarms</h2>
    <table class="table table-bordered table-striped table-sm" id="alarmTable">
      <thead>
        <tr>
          <th>Alarm</th>
          <th>Time</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody>
        {{#each alarms}}
        <tr>
          <td>{{name}}</td>
          <td>{{time}}</td>
          <td>
            <label class="switch">
              <input type="checkbox" checked>
              <div class="slider"></div>
            </label>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>


    <table class="table table-bordered table-striped table-sm" id="alarmTable">
      <thead>
        <tr>
          <th>New Alarm</th>
          <th>Alarm Time</th>
          <th>Create</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="form-group">
            <label class="sr-only" for="nameInput">Alarm name</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Name">
          </div></td>
          <td><div class="form-group">
            <label class="sr-only" for="timeInput">Time</label>
            <input type="time" class="form-control" id="timeInput">
          </div></td>
          <td><button type="submit" id="newAlarmBtn" class="btn btn-primary">New alarm</button>
          </td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline">
      
      
      
    </form>

    <p></p>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/sleepData.css" rel="stylesheet">
  </body>
  </html>
